%div.d-flex.justify-content-between.mb-2
  %h1 Go Bucks: Wallet Transactions
  %div= link_to 'My Wallet', go_bucks.root_path, class: 'btn btn-link'
  %div= link_to 'Transfer Go Bucks', go_bucks.new_transaction_path, class: 'btn btn-success'
  %div= link_to 'All Transactions', go_bucks.transactions_path, class: 'btn btn-success' if policy(GoBucks::Transaction).index?

= render 'go_bucks/transactions/table', transactions: @transactions
